body,html{
    width: 100%;
    height: 100%;
}

#img-container{
    width: 100%;
    height: 30%;
    position: relative;

}

#img{
    animation-name: hello-css3-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: absolute;
    height: 100%;
    width: 10%;
}


@keyframes hello-css3-animation {

    11.11%{
        transform: translate(225%);
    }
    22.22%{
        transform: translate(450%);
    }
    33.33%{
        transform: translate(675%);
    }
    44.44%{
        transform: translate(900%);
    }
    55.55%{
        transform: translate(900%) rotateY(180deg);
    }
    66.66%{
        transform: translate(675%) rotateY(180deg);
    }
    77.77%{
        transform: translate(450%) rotateY(180deg);
    }
    88.88%{
        transform: translate(225%) rotateY(180deg);
    }
    99.99%{
        transform: translate(0%) rotateY(180deg);
    }
}

