body,html{
    width: 100%;
    height: 100%;
}

#img-container{
    width: 100%;
    height: 30%;
    position: relative;

}

#img{
    animation-name: hello-css3-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    height: 100%;
    width: 10%;
    transform: translate(50%,0);
}

@keyframes hello-css3-animation {
    0%{
        transform: translatex(0%);
    }
    10%{
        transform: translatex(180%);
    }
    20%{
        transform: translatex(360%);
    }
    30%{
        transform: translatex(540%);
    }
    40%{
        transform: translatex(720%);
    }
    50%{
        transform: translatex(900%);
    }
    60%{
        transform: translateX(900%);
    }
    70%{
        transform: translatex(540%);
    }
    80%{
        transform: translatex(360%);
    }
    90%{
        transform: translatex(180%);
    }
    100%{
        transform: translatex(0%);
    }




}
